# Name: ContMensili
# Author: Alberto Duina
# Version: 1.0
# Date: 2009/06/19
# Requires: ImageJ 1.42q
# Generate the jar file using: "jar cvfM jar_demo.jar *"
#
# Questo file assicura che ImageJ ci mostri i file, contenuti nel file jar, nel meu plugins
#


Plugins>contMensili, "Version", contMensili.version_
Plugins>contMensili, "demo", contMensili.demo_
Plugins>contMensili, "Sequenze", contMensili.Sequenze_
Plugins>contMensili, "p2rmn", contMensili.p2rmn_
Plugins>contMensili, "p3rmn", contMensili.p3rmn_
Plugins>contMensili, "p4rmn", contMensili.p4rmn_
Plugins>contMensili, "p5rmn", contMensili.p5rmn_
Plugins>contMensili, "p6rmn", contMensili.p6rmn_
Plugins>contMensili, "p7rmn", contMensili.p7rmn_
Plugins>contMensili, "p8rmn", contMensili.p8rmn_
Plugins>contMensili, "p9rmn", contMensili.p9rmn_
Plugins>contMensili, "p10rmn", contMensili.p10rmn_
Plugins>contMensili, "p11rmn", contMensili.p11rmn_
Plugins>contMensili, "p12rmn", contMensili.p12rmn_

