# Name: ContMensili
# Author: Alberto Duina
# Version: 1.0
# Date: 2009/06/19
# Revised Version: 2.0 "bells & whistles"
# Date: 2017/02/22
# Requires: ImageJ 1.42q
# Generate the jar file using: "jar cvfM jar_demo.jar *"
#
# Questo file assicura che ImageJ ci mostri i file, contenuti nel file jar, nel meu plugins
#


Plugins>contMensili, "-"
Plugins>contMensili, "SEQUENZE (AUTOMATICO)", contMensili.Sequenze_
Plugins>contMensili, "-"
Plugins>contMensili, "p12rmn_UNIFORMITY_Circular_auto", contMensili.p12rmn_
Plugins>contMensili, "p10rmn_UNIFORMITY_Circular_Uncombined_auto", contMensili.p10rmn_
Plugins>contMensili, "p3rmn_UNIFORMITY_Circular_manual", contMensili.p3rmn_
Plugins>contMensili, "p11rmn_UNIFORMITY_Flat_auto", contMensili.p11rmn_
Plugins>contMensili, "p5rmn_UNIFORMITY_Flat_manual", contMensili.p5rmn_
Plugins>contMensili, "p13rmn_UNIFORMITY_Square_manual", contMensili.p13rmn_
Plugins>contMensili, "-"
Plugins>contMensili, "p8rmn_DGP_manual", contMensili.p8rmn_
Plugins>contMensili, "p6rmn_THICKNESS_manual", contMensili.p6rmn_
Plugins>contMensili, "p7rmn_WARP_manual", contMensili.p7rmn_
Plugins>contMensili, "p4rmn_MTF_SlicePattern_manual", contMensili.p4rmn_
Plugins>contMensili, "-"
Plugins>contMensili, "p2rmn_T1/T2_Calculation_manual", contMensili.p2rmn_
Plugins>contMensili, "p9rmn_T1/T2_ContrastNoiseRatio_manual", contMensili.p9rmn_
Plugins>contMensili, "-"
# Plugins>contMensili, "p14rmn_(experiment)_MTF_SlantedEdge_auto_(by Carles Mitja)", contMensili.p14rmn_
# Plugins>contMensili, "p15rmn_(experiment_by oskrebkova)", contMensili.p15rmn_
# Plugins>contMensili, "p16rmn_(experiment)", contMensili.p16rmn_
# Plugins>contMensili, "p20rmn_(experiment)", contMensili.p20rmn_
# Plugins>contMensili, "-"


